*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix::after,.clearfix::before{
    content: " ";
    display: table;
    clear: both;
}
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
  }
  i{
    font-family: "iconfont" !important;
    font-style: normal;    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.bottom{
    width: 100%;
    background-color: #fff;
}
.f-top{
    width: 1226px;
    margin: 0 auto;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.f-top ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.f-top ul li{
    height: 25px;
    width: 19.8%;
    display: block;
    line-height: 25px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}
.f-top ul li:nth-of-type(1){
    border: none;
}
.f-top ul li a{
    color: #616161;
    font-size: 16px;
}
.f-top ul li a i{
    font-size: 24px;
    margin-right: 6px;
    vertical-align: -4px;
}
.f-top ul li a:hover{
    color: #ff6700;
}
.sevice{
    width: 1226px;
    padding: 40px 0;
    margin: 0 auto;
}
.sevice dl{
    float: left;
    width: 160px;
    height: 112px;
    display: block;
}
.sevice dt{
    margin-bottom: 25px;
}
.sevice dl dd{
    font-size: 12px;
    color: #757575;
    cursor: pointer;
    margin-top: 10px;
}
.sevice dl dd:hover{
    color: #ff6700;
}
.sevice .contact{
    float: right;
    width: 250px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    color: #616161;
    text-align: center;
}
.sevice .contact p:nth-of-type(1){
    font-size: 22px;
    color: #ff6700;
}
.sevice .contact p:nth-of-type(2){
    font-size: 12px;
    margin-bottom: 10px;
}
.sevice .contact a{
    width: 118px;
    height: 28px;
    display: inline-block;
    border: 1px solid #ff6700;
    background-color: #fff;
    color: #ff6700;
    cursor: pointer;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
}
.sevice .contact a:hover{
    background-color: #ff6700;
    color: #fff;
}
footer{
    background-color: rgb(250, 250, 250);
    padding: 30px 0;
}
footer .container{
    width: 1226px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.container::after,.container::before{
    content: "";
    display: block;
    clear: both;
}
footer .container .logo{
    width: 57px;
    height: 57px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff6700;
}
footer .container .logo a{
    display: block;
    color: #fff;
    font-size: 26px;
    line-height: 57px;
    text-align: center;
}
footer .container ul{
    margin-left: 67px;
    height: 30px;
}
footer .container ul li{
    height: 12px;
    float: left;
    border-left: 1px solid #b0b0b0;
}
footer .container ul li:nth-of-type(1){
    border: none;
}
footer .container ul li a{
    display: block;
    line-height: 12px;
    font-size: 12px;
    color: #757575;
    padding: 0 5px;
}
footer .container ul li a:hover{
    color: #ff6700;
}
footer .container p{
    margin-left: 67px;
    color: #b0b0b0;
    font-size: 12px;
}
footer .container p a:hover{
    cursor: pointer;
    color: #ff6700;
}
footer .container .img-link{
    margin: 10px 0 50px 67px;
}
footer .container .img-link a img{
    height: 28px;
}
footer .container .slogan{
    width: 267px;
    height: 19px;
    margin: 0 auto;
}