@import url(//at.alicdn.com/t/font_1452026_65uclu1k9sn.css);
* {                                                         
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../font/iconfont.woff2') format('woff2'),
      url('../font/iconfont.woff') format('woff'),
      url('../font/iconfont.ttf') format('truetype'),
      url('../font/iconfont.svg#iconfont') format('svg');
}
i{
  font-family: "iconfont" !important;
  font-style: normal;    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #F5F5F5;
}
i {
  font-size: 12px;
}
a {
  display: inline-block;
  text-decoration: none !important;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
ul,
li {
  list-style: none;
}
span.line {
  margin: 0;
  color: #424242;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 40px;
}
.head_nav{
  width: 1226px;
  margin: 0 auto;
  height: 40px;
  position: relative;
}
.head_nav span{
  position: absolute;
  left: 0;
  color: #757575;
  line-height: 40px;
}
div.containers {
  width: 1226px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
div.containers aside {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 36px 48px;
  background: white;
}
div.containers aside div:not(:first-child) {
  margin-top: 12px;
}
div.containers aside h3.title {
  font-family: "微软雅黑";
  font-size: 20px;
  font-weight: normal;
  line-height: 52px;
  color: #333;
}
div.containers aside ul li {
  padding: 6px 0;
  box-sizing: border-box;
}
div.containers aside ul li a {
  font-family: "微软雅黑";
  font-size: 14px;
  color: #757575;
}
div.containers div.personalInfo {
  flex: 1;
  margin-left: 14px;
  background: white;
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
div.containers div.personalInfo div.vessel {
  flex: 1;
  width: 100%;
  margin: 0 48px;
  padding: 24px 0 0;
}
div.containers div.personalInfo div.vessel div.user {
  width: 100%;
  height: fit-content;
  position: relative;
}
div.containers div.personalInfo div.vessel div.user div.user-card {
  display: inline-block;
  width: 302px;
  height: 160px;
  padding: 40px 0 0 180px;
  position: relative;
}
div.containers div.personalInfo div.vessel div.user div.user-card img {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 150px;
  border: 1px solid #E0E0E0;
}
div.containers div.personalInfo div.vessel div.user div.user-card h2.username {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #616161;
}
div.containers div.personalInfo div.vessel div.user div.user-card p.tip {
  margin: 0 0 10px;
  color: #B0B0B0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
div.containers div.personalInfo div.vessel div.user div.user-card a.link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #FF6700;
}
div.containers div.personalInfo div.vessel div.user div.user-actions {
  display: inline-block;
  width: 358px;
  height: fit-content;
  margin-top: 35px;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}
div.containers div.personalInfo div.vessel div.user div.user-actions ul.action-list {
  color: #757575;
}
div.containers div.personalInfo div.vessel div.user div.user-actions ul.action-list li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 6px 0;
  position: relative;
}
div.containers div.personalInfo div.vessel div.user div.user-actions ul.action-list li span.level-2 {
  color: #FFAC13;
}
div.containers div.personalInfo div.vessel div.detail {
  width: 100%;
  border-top: 1px solid #E0E0E0;
}
div.containers div.personalInfo div.vessel div.detail ul.info-list {
  padding: 60px 0 0;
  color: #757575;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
div.containers div.personalInfo div.vessel div.detail ul.info-list li {
  position: relative;
  width: 276px;
  height: 65px;
  padding: 15px 0 0 112px;
  margin: 0 0 80px 14px;
}
div.containers div.personalInfo div.vessel div.detail ul.info-list li h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
}
div.containers div.personalInfo div.vessel div.detail ul.info-list li h3 span.num {
  color: #FF6700;
}
div.containers div.personalInfo div.vessel div.detail ul.info-list li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #757575;
}
div.containers div.personalInfo div.vessel div.detail ul.info-list li a i.iconfont {
  font-size: 16px;
  line-height: 16px;
  vertical-align: -1px;
}
div.containers div.personalInfo div.vessel div.detail ul.info-list li a:hover {
  color: #FF6700;
}
div.containers div.personalInfo div.vessel div.detail ul.info-list li img {
  position: absolute;
  top: -10px;
  left: -10px;
}
div.footer {
  margin-top: 40px;
}