* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9f9f9;
}
.content {
  width: 845px;
  height: 548px;
  background-color: #fff;
  margin: 70px auto 50px;
}
.content .regHeader {
  display: block;
  height: 48px;
  width: 48px;
  background: url(https://account.xiaomi.com/static/res/28f08d0/account-static/respassport/acc-2014/img/milogo.png);
  margin: 0 auto;
}
.content h1 {
  text-align: center;
  margin-top: 20px;
}
.content form .formBox {
  width: 332px;
  height: 306px;
  margin: 40px auto;
}
.content form .formBox input {
  width: 332px;
  height: 50px;
  border: none;
  outline: none;
  padding: 10px;
}
.content form .formBox .eMail,
.content form .formBox .code {
  height: 20px;
  border: 1px solid #e8e8e8;
  margin: 15px 0;
}
.content form .formBox .subBtn {
  width: 352px;
  margin: 15px 0;
  background-color: #ff6700;
  color: #fff;
}
.content form .formBox .codeBtn {
  border: none;
  outline: none;
  background: transparent;
  position: relative;
  top: -48px;
  left: 266px;
}
.content p {
  text-align: center;
}
footer {
  text-align: center;
  color: #9d9d9d;
  font-size: 14px;
}
