<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>评价</title>
    <link rel="stylesheet" href="stylesheets/comment.css">
    <link rel="stylesheet" href="stylesheets/details.css">
    <link rel="stylesheet" href="stylesheets/head.css">
    <link rel="stylesheet" href="stylesheets/footer.css">

</head>

<body>
    <%include template/header.ejs %>
    <div class="pro-bar">
        <div class="product-nav">
            <div class="pro-name">
                <h2><%=data[0].PName%></h2>
                <span class="spacer">|</span>
                <a href="#"> <%=data[0].PName%> </a>
            </div>
            <div class="pro-about">
                <a href="#">概述</a>
                <span class="spacer">|</span>
                <a href="#">参数</a>
                <span class="spacer">|</span>
                <a href="#">F码通道</a>
                <span class="spacer">|</span>
                <a href="javascript:void(0);" id="color">用户评价</a>
                <button><a href="/details?pid=<%= data[0].PID %>">立即购买</a></button>
            </div>
        </div>
    </div>
    <section>
        <div class="review">
            <h2>热门评价</h2>
            <div class="empty">暂时没有评论哦！</div>
        </div>
    </section>
    <%include template/footer.ejs %>
    <script src='https://cdn.bootcss.com/jquery/3.4.1/jquery.js'></script>
    <script>
        var pid = '<%= data[0].PID %>'
    </script>
    <script src="js/comment.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/head.js"></script>    
</body>

</html>