<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="stylesheets/PersonalCenter.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/head.css">
</head>

<body>
    <!-- 第一二块 用的是公共模块 -->
    <%include template/header.ejs %>

    <div class="home">
        <a href="">首页</a>
        <span class="sep">></span>
        <span>个人中心</span>
    </div>
    <div class="containers">
        <aside>
            <div class="order">
                <h3 class="title">订单中心</h3>
                <ul>
                    <li>
                        <a href="">我的订单</a>
                    </li>
                    <li>
                        <a href="">团购订单</a>
                    </li>
                    <li>
                        <a href="">评价晒单</a>
                    </li>
                    <li>
                        <a href="">话费充值订单</a>
                    </li>
                    <li>
                        <a href="">以旧换新订单</a>
                    </li>
                </ul>
            </div>
            <div class="personal">
                <h3 class="title">个人中心</h3>
                <ul>
                    <li>
                        <a href="">我的个人中心</a>
                    </li>
                    <li>
                        <a href="">消息通知</a>
                    </li>
                    <li>
                        <a href="">购买资格</a>
                    </li>
                    <li>
                        <a href="">现金账户</a>
                    </li>
                    <li>
                        <a href="">小米礼品卡</a>
                    </li>
                    <li>
                        <a href="">现金券</a>
                    </li>
                    <li>
                        <a href="">喜欢的商品</a>
                    </li>
                    <li>
                        <a href="">优惠券</a>
                    </li>
                    <li>
                        <a href="">收货地址</a>
                    </li>
                    <li>
                        <a href="">红包</a>
                    </li>
                </ul>
            </div>
            <div class="service">
                <h3 class="title">售后服务</h3>
                <ul>
                    <li>
                        <a href="">服务记录</a>
                    </li>
                    <li>
                        <a href="">申请服务</a>
                    </li>
                    <li>
                        <a href="">领取快递报销</a>
                    </li>
                </ul>
            </div>
            <div class="order">
                <h3 class="title">账户管理</h3>
                <ul>
                    <li>
                        <a href="">个人信息</a>
                    </li>
                    <li>
                        <a href="">修改密码</a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="personalInfo">
            <div class="vessel">
                <div class="user">
                    <div class="user-card">
                        <%if(avatar){%>
                        <img src=<%=avatar%> alt="">
                        <%}else{ %>
                        <img src="https://account.xiaomi.com/static/img/passport/photo.jpg" alt="遇见时，是错过，还是相诚">
                        <%}%>
                        <h2 class="username"><%=username%></h2>
                        <p class="tip">早上好~</p>
                        <a href="PersonalDetail" class="link">修改个人信息 ></a>
                    </div>
                    <div class="user-actions">
                        <ul class="action-list">
                            <li>
                                账户安全：
                                <span class="level level-2">普通</span>
                            </li>
                            <li>
                                绑定手机：
                                <span class="tel"><%=mobile %></span>
                            </li>
                            <li>
                                邮箱绑定:
                                <%if(email){%>
                                <span class="tel"><%=email %></span>
                                <%}else{%>
                                <span class="tel">未绑定</span> 
                                <%}%>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="detail">
                    <ul class="info-list">
                        <li>
                            <h3>待支付的订单：
                                <span class="num">0</span></h3>
                            <a href="">
                                查看待支付的订单<i class="iconfont">&#xe69a;</i></a>
                            <img src="https://s01.mifile.cn/i/user/portal-icon-1.png" alt="">
                        </li>
                        <li>
                            <h3>待收货的订单：
                                <span class="num">0</span></h3>
                            <a href="">
                                查看待收货的订单<i class="iconfont">&#xe69a;</i></a>
                            <img src="https://s01.mifile.cn/i/user/portal-icon-2.png" alt="">
                        </li>
                        <li>
                            <h3>待评价商品数：
                                <span class="num">0</span></h3>
                            <a href="">
                                查看待评价商品<i class="iconfont">&#xe69a;</i></a>
                            <img src="https://s01.mifile.cn/i/user/portal-icon-3.png" alt="">
                        </li>
                        <li>
                            <h3>喜欢的商品：
                                <span class="num">0</span></h3>
                            <a href="">
                                查看喜欢的商品<i class="iconfont">&#xe69a;</i></a>
                            <img src="https://s01.mifile.cn/i/user/portal-icon-4.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="bottom">
            <div class="f-top">
                <ul>
                    <li><a href="#"><i>&#xe505;</i>预约维修服务</a></li>
                    <li><a href="#"><i>&#xe613;</i>7天无理由退货</a></li>
                    <li><a href="#"><i>&#xe502;</i>15天免费换货</a></li>
                    <li><a href="#"><i>&#xe600;</i>满150元包邮</a></li>
                    <li><a href="#"><i>&#xe6bb;</i>520余家售后网点</a></li>
                </ul>
            </div>
            <div class="sevice clearfix">
                <dl>
                    <dt>帮助中心</dt>
                    <dd>账户管理</dd>
                    <dd>购物指南</dd>
                    <dd>订单操作</dd>
                </dl>
                <dl>
                    <dt>服务支持</dt>
                    <dd>售后政策</dd>
                    <dd>自动服务</dd>
                    <dd>相关下载</dd>
                </dl>
                <dl>
                    <dt>线下门店</dt>
                    <dd>小米之家</dd>
                    <dd>服务网点</dd>
                    <dd>授权体验店</dd>
                </dl>
                <dl>
                    <dt>关于小米</dt>
                    <dd>了解小米</dd>
                    <dd>加入小米</dd>
                    <dd>投资者关系</dd>
                </dl>
                <dl>
                    <dt>关注我们</dt>
                    <dd>新浪微博</dd>
                    <dd>官方微信</dd>
                    <dd>联系我们</dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd>F码通道</dd>
                    <dd>礼物码</dd>
                    <dd>防伪查询</dd>
                </dl>
                <div class="contact">
                    <p>400-100-5678</p>
                    <p>周一至周日 8:00-18:00<br>（仅收市话费）</p>
                    <a href="#"><i>&#xe635;</i>人工服务</a>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="logo"><a href="#"><i>&#xe60e;</i></a></div>
                <ul class="cleafix">
                    <li><a href="#">小米商城</a></li>
                    <li><a href="#">MIUI</a></li>
                    <li><a href="#">米家</a></li>
                    <li><a href="#">米聊</a></li>
                    <li><a href="#">多看</a></li>
                    <li><a href="#">游戏</a></li>
                    <li><a href="#">路由器</a></li>
                    <li><a href="#">米粉卡</a></li>
                    <li><a href="#">政企服务</a></li>
                    <li><a href="#">小米天猫店</a></li>
                    <li><a href="#">小米集团隐私政策</a></li>
                    <li><a href="#">小米公司儿童信息保护规则</a></li>
                    <li><a href="#">小米商城隐私政策</a></li>
                    <li><a href="#">小米商城用户协议</a></li>
                    <li><a href="#">问题反馈</a></li>
                    <li><a href="#">廉正举报</a></li>
                    <li><a href="#">诚信合规</a></li>
                    <li><a href="#">Select Location</a></li>
                </ul>
                <p>©mi.com 京ICP证110507号<a>京ICP备10046444号</a> <a>京公网安备11010802020134号</a>
                    <a>京网文[2017]1530-131号</a><br><a>（京）网械平台备字（2018）第00005号</a>
                    <a>互联网药品信息服务资格证 (京) -非经营性-2014-0090</a>
                    <a>营业执照</a><a>医疗器械公告</a><br><a>增值电信业务许可证</a> 网络食品经营备案（京）【2018】WLSPJYBAHF-12
                    <a>食品经营许可证</a><br>违法和不良信息举报电话：185-0130-1238 <a>知识产权侵权投诉</a> 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试
                </p>
                <div class="img-link">
                    <a href="#"><img src="https://i1.mifile.cn/f/i/17/site/truste.png" alt="" srcset=""></a>
                    <a href="#"><img src="https://s01.mifile.cn/i/v-logo-1.png" alt="" srcset=""></a>
                    <a href="#"><img src="https://s01.mifile.cn/i/v-logo-2.png" alt="" srcset=""></a>
                    <a href="#"><img src="https://s01.mifile.cn/i/v-logo-3.png" alt="" srcset=""></a>
                    <a href="#"><img src="https://i8.mifile.cn/b2c-mimall-media/ba10428a4f9495ac310fd0b5e0cf8370.png"
                            alt="" srcset=""></a>
                </div>
                <div class="slogan"><img src="https://s01.mifile.cn/i/slogan2016.png" alt="" srcset=""></div>
            </div>
        </footer>
    </div>
</body>
<script src='https://cdn.bootcss.com/jquery/3.4.1/jquery.js'></script>
<script src="js/head.js"></script>
<script src="js/footer.js"></script>
<script src="js/PersonalCenter.js"></script>

</html>