<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="stylesheets/PersonalCenter.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/head.css">
</head>

<body>
    <!-- 第一二块 用的是公共模块 -->
    <%include template/header.ejs %>

    <div class="head_nav">
        <span>首页 > 个人中心</span>
    </div>
    <div class="containers">
        <aside>
            <div class="order">
                <h3 class="title">订单中心</h3>
                <ul>
                    <li>
                        <a href="/all">我的订单</a>
                    </li>
                    <li>
                        <a href="">团购订单</a>
                    </li>
                    <li>
                        <a href="">评价晒单</a>
                    </li>
                    <li>
                        <a href="">话费充值订单</a>
                    </li>
                    <li>
                        <a href="">以旧换新订单</a>
                    </li>
                </ul>
            </div>
            <div class="personal">
                <h3 class="title">个人中心</h3>
                <ul>
                    <li>
                        <a href="">我的个人中心</a>
                    </li>
                    <li>
                        <a href="">消息通知</a>
                    </li>
                    <li>
                        <a href="">购买资格</a>
                    </li>
                    <li>
                        <a href="">现金账户</a>
                    </li>
                    <li>
                        <a href="">小米礼品卡</a>
                    </li>
                    <li>
                        <a href="">现金券</a>
                    </li>
                    <li>
                        <a href="">喜欢的商品</a>
                    </li>
                    <li>
                        <a href="">优惠券</a>
                    </li>
                    <li>
                        <a href="">收货地址</a>
                    </li>
                    <li>
                        <a href="">红包</a>
                    </li>
                </ul>
            </div>
            <div class="service">
                <h3 class="title">售后服务</h3>
                <ul>
                    <li>
                        <a href="">服务记录</a>
                    </li>
                    <li>
                        <a href="">申请服务</a>
                    </li>
                    <li>
                        <a href="">领取快递报销</a>
                    </li>
                </ul>
            </div>
            <div class="order">
                <h3 class="title">账户管理</h3>
                <ul>
                    <li>
                        <a href="">个人信息</a>
                    </li>
                    <li>
                        <a href="">修改密码</a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="personalInfo">
            <div class="vessel">
                <div class="user">
                    <div class="user-card">
                        <%if(avatar){%>
                        <img src=<%=avatar%> alt="">
                        <%}else{ %>
                        <img src="https://account.xiaomi.com/static/img/passport/photo.jpg" alt="遇见时，是错过，还是相诚">
                        <%}%>
                        <h2 class="username"><%=nickname%></h2>
                        <p class="tip">早上好~</p>
                        <a href="PersonalDetail" class="link">修改个人信息 ></a>
                    </div>
                    <div class="user-actions">
                        <ul class="action-list">
                            <li>
                                账户安全：
                                <span class="level level-2">普通</span>
                            </li>
                            <li>
                                绑定手机：
                                <span class="tel"><%=mobile %></span>
                            </li>
                            <li>
                                邮箱绑定:
                                <%if(email){%>
                                <span class="tel"><%=email %></span>
                                <%}else{%>
                                <span class="tel">未绑定</span> 
                                <%}%>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="detail">
                    <ul class="info-list">
                        <li>
                            <h3>待支付的订单：
                                <span class="num">0</span></h3>
                            <a href="">
                                查看待支付的订单<i class="icon-jiantou-copy"></i></a>
                            <img src="https://s01.mifile.cn/i/user/portal-icon-1.png" alt="">
                        </li>
                        <li>
                            <h3>待收货的订单：
                                <span class="num">0</span></h3>
                            <a href="">
                                查看待收货的订单<i class="icon-jiantou-copy"></i></a>
                            <img src="https://s01.mifile.cn/i/user/portal-icon-2.png" alt="">
                        </li>
                        <li>
                            <h3>待评价商品数：
                                <span class="num">0</span></h3>
                            <a href="">
                                查看待评价商品<i class="icon-jiantou-copy"></i></a>
                            <img src="https://s01.mifile.cn/i/user/portal-icon-3.png" alt="">
                        </li>
                        <li>
                            <h3>喜欢的商品：
                                <span class="num">0</span></h3>
                            <a href="">
                                查看喜欢的商品<i class="icon-jiantou-copy"></i></a>
                            <img src="https://s01.mifile.cn/i/user/portal-icon-4.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <%include template/footer.ejs %>
</body>
<script src='https://cdn.bootcss.com/jquery/3.4.1/jquery.js'></script>
<!-- <script src="js/head.js"></script> -->
<!-- <script src="js/PersonalCenter.js"></script> -->

</html>