<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索结果</title>
    <link rel="stylesheet" href="stylesheets/head.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/search_result.css">
    //我做的
</head>

<body>
    
    <%include template/header.ejs %>

    <div class="breadcrumbs">
        <div class="container">
            <a href="//www.mi.com/index.html" data-stat-id="b67dea7347d3b7fc" onclick="">首页</a>
            <span class="sep">&gt;</span>
            <a href="//search.mi.com/search_小米 9" data-stat-id="1494c00260fd83b3" onclick="">全部结果</a>
            <span class="sep">&gt;</span><span>小米 9</span>
        </div>
    </div>
    <div class="search-filter">
        <div class="container">
            <span class="label">分类：</span>
            <ul>
                <li class="active">全部</li>
                <li>手机</li>
                <li>出行</li>
                <li>包</li>
                <li>配件</li>
                <li>日用百货</li>
                <li>手机贴膜</li>
            </ul>
            <span class="more_btn">更多 <i></i></span>
        </div>
    </div>
    <div class="search-reuslt">
        <div class="container">
            <div class="order-list-box">
                <ul class="order-list">
                    <li class="active">综合</li>
                    <li>新品</li>
                    <li>销量</li>
                    <li>价格</li>
                </ul>
                <ul class="type-list">
                    <span class="label">收货地</span>
                    <span class="address-show">
                        <span class="item">四川</span>
                        <span class="item">成都市</span>
                    </span>
                    <li>
                        <span class="checkbox  checkbox-checked "> <i class="iconfont"></i> </span>
                        <span>促销</span>
                    </li>
                    <li>
                        <span class="checkbox"> <i class="iconfont"></i> </span>
                        <span>分期</span>
                    </li>
                    <li>
                        <span class="checkbox"> <i class="iconfont"></i> </span>
                        <span>仅看有货</span>
                    </li>
                </ul>
            </div>
            <div class="goods-list-box">
                <ul class="goods-list">
                    <li class="goods-item">
                        <img src="images/goods_001.jpg" alt="">
                        <h2 class="title">小米CC9</h2>
                        <p class="price">1699元 起 <del>1799元 起 </del></p>
                        <div class="thumbs">
                            <ul class="thumbs-list">
                                <li><img src="images/goods_001.jpg" alt=""></li>
                                <li><img src="images/goods_001.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div class="flags">
                            <span class="miaosha">秒杀</span>
                            <span class="zeng">赠</span>
                            <span class="fenqi">分期</span>
                            <span class="zeng">劵</span>

                        </div>
                    </li>
                    <li class="goods-item">
                        <img src="images/goods_001.jpg" alt="">
                        <h2 class="title">小米CC9</h2>
                        <p class="price">1699元 起 <del>1799元 起 </del></p>
                        <div class="thumbs">
                            <ul class="thumbs-list">
                                <li><img src="images/goods_001.jpg" alt=""></li>
                                <li><img src="images/goods_001.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div class="flags">
                            <span class="miaosha">秒杀</span>
                            <span class="zeng">赠</span>
                            <span class="fenqi">分期</span>
                            <span class="zeng">劵</span>

                        </div>
                    </li>
                    <li class="goods-item">
                        <img src="images/goods_001.jpg" alt="">
                        <h2 class="title">小米CC9</h2>
                        <p class="price">1699元 起 <del>1799元 起 </del></p>
                        <div class="thumbs">
                            <ul class="thumbs-list">
                                <li><img src="images/goods_001.jpg" alt=""></li>
                                <li><img src="images/goods_001.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div class="flags">
                            <span class="miaosha">秒杀</span>
                            <span class="zeng">赠</span>
                            <span class="fenqi">分期</span>
                            <span class="zeng">劵</span>

                        </div>
                    </li>
                    <li class="goods-item">
                        <img src="images/goods_001.jpg" alt="">
                        <h2 class="title">小米CC9</h2>
                        <p class="price">1699元 起 <del>1799元 起 </del></p>
                        <div class="thumbs">
                            <ul class="thumbs-list">
                                <li><img src="images/goods_001.jpg" alt=""></li>
                                <li><img src="images/goods_001.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div class="flags">
                            <span class="miaosha">秒杀</span>
                            <span class="zeng">赠</span>
                            <span class="fenqi">分期</span>
                            <span class="zeng">劵</span>

                        </div>
                    </li>
                    <li class="goods-item">
                        <img src="images/goods_001.jpg" alt="">
                        <h2 class="title">小米CC9</h2>
                        <p class="price">1699元 起 <del>1799元 起 </del></p>
                        <div class="thumbs">
                            <ul class="thumbs-list">
                                <li><img src="images/goods_001.jpg" alt=""></li>
                                <li><img src="images/goods_001.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div class="flags">
                            <span class="miaosha">秒杀</span>
                            <span class="zeng">赠</span>
                            <span class="fenqi">分期</span>
                            <span class="zeng">劵</span>

                        </div>
                    </li>
                    <li class="goods-item">
                        <img src="images/goods_001.jpg" alt="">
                        <h2 class="title">小米CC9</h2>
                        <p class="price">1699元 起 <del>1799元 起 </del></p>
                        <div class="thumbs">
                            <ul class="thumbs-list">
                                <li><img src="images/goods_001.jpg" alt=""></li>
                                <li><img src="images/goods_001.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div class="flags">
                            <span class="miaosha">秒杀</span>
                            <span class="zeng">赠</span>
                            <span class="fenqi">分期</span>
                            <span class="zeng">劵</span>

                        </div>
                    </li>
                    <li class="goods-item">
                        <img src="images/goods_001.jpg" alt="">
                        <h2 class="title">小米CC9</h2>
                        <p class="price">1699元 起 <del>1799元 起 </del></p>
                        <div class="thumbs">
                            <ul class="thumbs-list">
                                <li><img src="images/goods_001.jpg" alt=""></li>
                                <li><img src="images/goods_001.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div class="flags">
                            <span class="miaosha">秒杀</span>
                            <span class="zeng">赠</span>
                            <span class="fenqi">分期</span>
                            <span class="zeng">劵</span>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <%include template/footer.ejs %>
    <script src="js/logout.js"></script>
    
</body>

</html>